@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face{
  font-family: 'Agrandir';
  src: url('webfont.woff') format('woff')
  }

  
.heading{
    font-family: 'Agrandir','sans-serif';
  }

  .lb1:after{
    content:' ';
  }

  .lb1{
    background-image: url('time.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .lb1:hover:after{
    content:'Depths of Time';
  }

  .lb2:after{
    content:' ';
  }

  .lb2{
    background-image: url('map-01.png');
    background-size:300px;
    background-repeat: no-repeat;
    background-position: center;
  }


  .lb2:hover:after{
    content:'Where to find them?';
  }

  .lb3:after{
    content:' ';
  }

  .lb3{
    background-image: url('wave-01.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .lb3:hover:after{
    content:'What makes them electric?';
  }

  .lb4:after{
    content:'';
  }

  .lb4{
    background-image: url('feather-01.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .lb4:hover:after{
    content:'In the Lab';
  }

.bg-fish{
  background-image: url("fish.png");
  background-size: 750px;
  background-position: center;
  background-repeat: no-repeat;
}