@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face{
  font-family: 'Agrandir';
  src: url('webfont.woff') format('woff')
  }

  
.heading{
    font-family: 'Agrandir','sans-serif';
  }

  .lb1:after{
    content:'History';
}
  .lb1:hover:after{
    content:'two lines worth of content. will go here';
}

.lb2:after{
  content:'When?';
}
.lb2:hover:after{
  content:'two lines worth of content. will go here';
}

.lb3:after{
  content:'Where?';
}
.lb3:hover:after{
  content:'two lines worth of content. will go here';
}

.lb4:after{
  content:'Experiment';
}
.lb4:hover:after{
  content:'two lines worth of content. will go here';
}